
html,body{
	margin: 0;
}

h1,h2,h4,p,a,li,.size-number{
	font-family: 'Lato'
}


h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
	text-transform: uppercase;
}

h4{
	text-transform: uppercase;
}

.social h4{
	text-align: center;
}

p{
	font-weight: 100;
}

a{
	color: black;
}


header{
	display: flex;
}

nav{
	flex-grow: 1;
}

.logo{
	flex-grow: 1;
	margin: 0;
	background-image: url(../img/logo_S.png);
	height: 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.container{
	margin: 0;
	display: flex;
	flex-direction: column;
}

.photo{
	margin: 0;
	background-image: url(../img/kale.jpg);
	height: 30vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0;
}

.social, .btn, .sizes-container, .price{
		border-bottom: solid 1px #EFEDEA;
		padding: 20px;

}

.social{
	padding: 20px;

}


.price{
	display: flex;

}

.price-name{
	text-transform: uppercase;
	flex-grow: 1;
}

.price-number{
	flex-grow: 1;
}

.sizes-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.sizes{
	display: flex;
	flex-direction: row;
}

.size-number{
	padding: 16px;
	border: solid 1px gray;
	min-width: 16px;
	margin: 1px;
}

.size-number-selected{
	background-color: gray;
}

.size-link{

}

.btn{
	display: flex;
	justify-content: center;
	margin: 20px;
}

button{
	border: solid 1px;
	background-color: green;
	color: white;
	text-transform: uppercase;
	font-family: 'Lato';
	padding: 10px 20px;
}

.description{
	padding: 20px;
}

footer{
	background-color: #EFECD3;
	background-image: url(../img/logo_S.png);
	background-repeat: no-repeat;
	background-size: 33px auto;
	background-position: center 10px;
	padding-top: 70px;
	padding-bottom: 10px;
}

.footer-text{
	text-align: center;

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
	
}


